<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BKK PY-2 Factorial</title>
    {% if check %}
            <p>Hello, {{ fullname }}!</p>
    {% else %}
        <p>Your username or password might be incorrect!</p>
    {% endif %}
</head>
<body>
{% if check %}
<p>Calculate Factorial!!!</p>
<div>
    <form method="get" action="test-number">
        <p><input type='number' name="num" placeholder="number"></p>
        <p><input type="submit"></p>
    </form>
</div>
{% endif %}
{% if factorial %}
<div>
    <p>Factorial of {{number}} is {{factorial}}</p>
</div>
{% endif %}
</body>
</html>